ScrollPane{
    -fx-background: black;
    -fx-alignment: center;
    -fx-text-fill: white;
}

VBox{
    -fx-background: black;
    -fx-spacing: 20px;
}
#top{
    -fx-alignment: center;
    -fx-spacing: 100px;
}

#bottom{
    -fx-alignment: bottom-center;
}