#overall{
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-text-alignment: center;
}
Label{
    -fx-text-fill: white;
}

.jfx-button {
    -fx-background-color: #000000;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Monospaced;
    -fx-font-weight: bold;
    -fx-font-size: 12.0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.jfx-button:hover{
    -fx-background-color: #1e88e5;
}

.jfx-rippler{
    -jfx-rippler-fill: #212121;
    -jfx-mask-type: RECT;
}